#
# PostgreSQL
#

POSTGRES_DB=spark
POSTGRES_USER=spark
POSTGRES_PASSWORD=spark

#
# Spark
#

SPARK_TAG=4.0.2-scala2.13-java21-python3-ubuntu
SPARK_MASTER_WEBUI_PORT=8080
SPARK_WORKER_WEBUI_PORT=8081

# https://clickhouse.com/docs/integrations/apache-spark/spark-native-connector#compatibility-matrix
SPARK_CLICKHOUSE_SPARK_VERSION=4.0_2.13
SPARK_CLICKHOUSE_RUNTIME_VERSION=0.10.0
SPARK_CLICKHOUSE_JDBC_VERSION=0.9.5

SPARK_POSTGRES_JDBC_VERSION=42.7.10

#
# ClickHouse
#

CLICKHOUSE_TAG=latest
CLICKHOUSE_DB=spark
CLICKHOUSE_USER=spark
CLICKHOUSE_PASSWORD=spark
CLICKHOUSE_WEBUI_PORT=8123
