#
# PostgreSQL
#

POSTGRES_DB=spark
POSTGRES_USER=spark
POSTGRES_PASSWORD=spark

#
# Trino
#

TRINO_TAG=latest
TRINO_WEBUI_PORT=8080

#
# ClickHouse
#

CLICKHOUSE_TAG=latest
CLICKHOUSE_DB=spark
CLICKHOUSE_USER=spark
CLICKHOUSE_PASSWORD=spark
CLICKHOUSE_WEBUI_PORT=8123
