TOPIC=sales

#
# Kafka
#
KAFKA_TAG=3.9.2

#
# Flink
#
FLINK_TAG=1.20.4-scala_2.12-java17

#
# Postgres
#
POSTGRES_TAG=17
POSTGRES_DB=flink
POSTGRES_USER=flink
POSTGRES_PASSWORD=flink

#
# pgAdmin
#
PGADMIN_TAG=9
PGADMIN_EMAIL=flink@example.com
PGADMIN_PASSWORD=flink
PGADMIN_PORT=5050